body {
    margin: 0px;

    
}

.topnav {
    background-color: rgb(255, 255, 255);
    height: 60px;
}
.topnav a {
    color:rgb(0, 0, 0);
    font-size: 15px;
    padding: 20px;
    text-align: center;
    float: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.topnav .logo {
    font-size:30px;
    padding:10px;
    text-shadow: 1px 1px 2px blue;
    color: rgb(0, 0, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topnav a:hover {
    background-color: rgb(199, 199, 199);
    color: rgb(255, 247, 247);
}
.topnav .logo1 {
    width:60px;
    float:left;
}

.title {
    text-align:center;
    color: rgb(7, 7, 112);
    font-size: 50px;
    text-shadow: 2px 2px rgb(168, 165, 165);
    
}

.ad {
    width: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;

}

table {
    margin-left: auto;
    margin-right: auto;
    
    
}
table tr td {
    text-align: center;
    font-size: 15px;
    
}
table tr td img {
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
    transition: 0.4s;
}
.chapters {
    text-align: center;
    
}
.contacts {
    text-align: center;
    font-size:25px;
    padding:15px;
    padding-left:30px;
    color:black;
}

table tr td img:hover {
    width:200px;

}
